.increment-decrement-container {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

span {
  margin: 0 10px;
  font-size: 24px;
}
